
/* El estilo css fue remplazado por tailwind para mejores diseños y practicas */

* {
    box-sizing: border-box;
  


}

body,div,ul,nav,header,footer,a,li,label {

  padding: 0;
  margin: 0;


}


body {

    font-family: FuenteJose;
    --color-bg: #ffbb70 ;
    --text-color: #dbdbdb ;
    --color-menu: #f6f1ee ;
    --color-second: #ed7d31 ;
    --color-textlink: #1f1f1f ;
    --color-text-main:#ff751c ;
    --colorbg-main:#fdd0b4   ;
    --color-a:#e57c37 ;


}

/* Nav Section */

.nav__container {


background-color: var(--color-menu) ;
width: 100%;
height: 10dvh;
overflow: hidden;
position: fixed;
top: 0;
z-index: 1;





}

.nav__logo img {
   
  
  height: 60px;
  position: absolute;
  left: 3%;
  margin-top: 12px;
  filter: drop-shadow(3px 5px 5px #0005) 




}





.nav__items {

   display: flex;
   flex-direction: row-reverse;
   font-size: 17px;
   



}

.nav__item {

   list-style: none ;
   margin-right: 20px;
   margin-top: 40px ;
}

.nav__item a {

  text-decoration: none;
  color: var(--color-textlink);
  transition: background-color 1s , border-radius 1s ;
  padding: 4px;
  filter: drop-shadow(1px 2px 2px #0002) 




}

.nav__item a:hover {


  background-color: var(--color-second);
  border-radius: 14px;

}


/* Nav End */

/* Header Section */

.header__container {

   width: 100%;
   height: 80dvh;
   background-image:linear-gradient(#0009,#0009), url(../Imagenes/imagenbackground.png) ;
   background-position: center;
   background-size: cover;
   position: relative;
   animation: aparecer 1s both;
   overflow: hidden;
   

}

.header__inform {

   
   color: var(--text-color);
   display: inline-block;
   padding-top: 30dvh ;
   margin: 8px;
  
 
   

}

.header__inform-tittle {

  font-size: 30px;
  text-align: center;



}


.header__inform-text {

  font-size: 18px;


}

.header__inform-link {



 position: absolute;
 text-decoration: none;
 color: var(--color-textlink) ;
 font-size: 18px;
 left: 36%;
 margin-top: 60px;
 background-color: var(--color-second);
 border: 2px solid var(--color-second);
 padding: 7px;
 border-radius: 20px;
 transition: opacity 1s;
 
}

.header__inform-link:hover {

  opacity: 0.5;
  
}

/* Animacion de header */

@keyframes aparecer {
  
  from {

     opacity: 0;

  }


  to {

   opacity: 1;


  }



  
}


/* Animacion de header */

/* Header END */

/* Main Section */

.main__container {

  width: 100%;
  display: flex;
  background-color: var(--color-menu);
  overflow: hidden;
  justify-content: center;
  padding: 20px 0;

}

.main__video {
   
  padding: 20px 0;
  margin-right: 0;
  margin: auto;


 



}

.main__video img {

 display: none;

}




.main__video video {
 
  max-height: 720px;
  max-width: 600px;
  border-radius: 10px;
  filter: drop-shadow(3px 5px 5px var(--color-second)) ;

}

.main__text {

   color: var(--color-textlink);
  background-color: var(--color-menu);
   width: 720px;
   height: 450px;
   margin: auto;
   margin-left: 0;
   border-radius: 10px;
   box-shadow: 10px 10px 10px var(--color-second);;
   outline: 2px solid var(--color-second);
   overflow: hidden;
}

.main__text-title {

  font-size: 50px;
  color: var(--color-second);
  text-align: center;
 

}

.main__text-parrafo {


  font-size: 20px;
  padding: 10px;
  text-align: center;



}

/* Main END */

/* Article 1 Section */ 

.article__container {

  width: 100%;
  display: flex;
  background-color: var(--color-menu);
  overflow: hidden;
  justify-content: center;
  padding: 20px 0;

}

.article__text-container {

  color: var(--color-textlink);
  background-color: var(--color-menu);
   width: 720px;
   height: 450px;
   margin: auto;
   border-radius: 10px;
   box-shadow: 10px 10px 10px var(--color-second);;
   outline: 2px solid var(--color-second);
   overflow: hidden;
}

.article__text-title {

  
  font-size: 50px;
  color: var(--color-second);
  text-align: center;



}

.article__text-parrafo {

  font-size: 20px;
  padding: 10px;
  text-align: center;
  



}


.article__img{
   
  padding: 20px 0;
  margin-right: 0;
  margin: auto;
 




}

.article__img img {

  max-height: 720px;
  max-width: 600px;
  border-radius: 10px;
  filter: drop-shadow(3px 5px 5px var(--color-second)) ;
  



}

/* Article 1 End */

/* Article 2 Section */

.article__2_container {

  flex-direction: row-reverse;

}

/* Article 2 end */ 

/* Article 3 section */


.article__3-img img {

   
  max-height: 455px;
  max-width: 600px;


}

.article__3-text a {

   text-decoration: none;
   color: var(--color-text-main);
 
   

}

.article__3-text a:hover {

   font-weight: 600;
   border-bottom:1px solid var(--color-text-main) ;


}

/* Article 3 End */

/* Footer Section */

.footer__container {
  
  max-height: 40dvh;
  background-color: var(--color-textlink);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  
  
}

.footer__title {

   color: var(--color-menu);
   text-align: center;
   pad: 10px;

}

.icons__container {
     
  margin: auto;
  padding: 10px;
  


}

.footer__item {

  list-style: none;
 


}


.footer__img {

   max-width: 40px;
   height: 40px;



}

.footer__container span {
  
  text-align: center;
  color: var(--color-menu);
  padding: 20px;



}








/* Media Queries*/


@media  screen and (max-width:1100px) {

  /* Nav Querie */ 

.nav__logo img {

  height: 50px;
  margin-top: 6px;
  




}


.nav__item {

margin-top: 25px;


}


.nav__items{

   font-size: 12px;

  
   
  


}

/* Nav Querie End */

 /* Header Querie*/

   .header__container {

    height: 80dvh;
  

   }
   



  .header__inform {

      padding-top: 10dvh; 
      margin: 5px;
  
     
  }

  .header__inform-tittle {

   font-size: 35px;


  }

  .header__inform-text {

   font-size: 15px;
   margin: 10px;
   margin-bottom: 0;

  }

  .header__inform-link {

    font-size: 15px;
    
    }

  /* Header querie end */

/* Main Queries */ 

.main__container {

  
  flex-direction: column;
  padding: 0px;
  background-color: var(--color-menu);
  overflow: hidden;
}

.main__video {

   max-height: 720px;
   overflow: hidden;




}


.main__video img {

    display: flex;
    width: 100%;
    height: 250px;
    filter: drop-shadow(3px 5px 5px var(--color-second)) ;
    overflow: hidden;
   
}

.main__video video {
  
  display: none;


}



.main__text {
   
  width: 100%;
  height: 500px;
  outline: 2px solid transparent;
  border: 2px solid transparent;
  margin: auto;
  overflow: hidden;
 

}

.main__text-title {

  font-size: 40px;
  margin: 0;

}

.main__text-parrafo {

   font-size: 18px;
   margin-bottom: 30px;


}

/* Main Querie END */

/* Article Section */

.article__container {

  flex-direction: column-reverse;



}

.article__text-container {

  width: 100%;
  height: 500px;
  outline: 2px solid transparent;
  border: 2px solid transparent;
  margin: auto;
  overflow: hidden;
 



}

.article__text-title {


  font-size: 40px;
  margin: 0;




}



.article__text-parrafo {

  font-size: 18px;
  margin-bottom: 30px;

}

.article__img {
 

  width: 100%;
  filter: drop-shadow(3px 5px 5px var(--color-second)) 
 


}

/* Article 1 querie End */

/* Footer querie */

.footer__container {

 max-height: 50vh;


}



}






